body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:blueviolet;
    margin:0;
    font-size: larger inherit
}
p {
    font-size: 80px;
    font-weight: bold;
    margin-bottom: 20px;
}
button {
    padding: 10px 20px;
    font-size: 1.2rem;
    cursor: pointer;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}